header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  padding: 1rem;
  color: #fff;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  flex-direction: column;
}